@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

a {
    text-decoration: none;
    color: white;
    margin-right: 50px;

}

.nav {
    margin-left: 30px;
}


button {
    width: 110px;
    height: 46px;
    color: white;
    background-color: orange;
    border-radius: 20px;
}

p {
    color: white;
    font-family: cursive;
    font-size: x-large;
    text-align: left;
}

#p1 {
    margin: 60px;
    font-family: 'Courgette', cursive;
}

#c1 {
    text-align: center;
    background-image: url(./Images/burger-image.jpeg);
    height: 400px;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    position: relative;
}

.a1 {
    float: right;
    margin-right: 100px;
    margin-top: -20px;
}

.a2 {
    float: left;
    margin-left: 50px;
}



.col-1 {
    background-image: url(./Images/burger-veg-image.jpg);
    height: 300px;
    background-size: cover;
    filter: brightness(80%);
}

.col-2 {
    background-image: url(./Images/burger-orderonline.webp);
    height: 300px;
    background-size: cover;
    filter: brightness(80%);
}

.col-3 {
    background-image: url(./Images/burger-cake.jpg);
    height: 300px;
    background-size: cover;
    filter: brightness(80%);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}

.col {
    width: 300px;
}









/* .row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

h4 {
    text-align: center;
    font-size: xx-large;
    color: white;
}

.blur {
    white-space: inherit;
    text-align: center
}

.menu {
    text-align: center;
}

.button {
    background-color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttons {
    width: 50%;
    text-align: center;
    background-color: rgb(117, 16, 36);
    color: white;
    border: 1px solid bisque;
}

@media screen and (max-width: 400px) {
    .a1 {
        font-size: 1.5rem;
        left: 1200px;
    }
}